@media (max-width: 400){
#left{
	float: none;
	display: block;
}
#right{
	float: none;
	display: block;
}
}
html{
background-image: url('images/warehouse.png');
background-repeat: no-repeat;
font-family: 'Ravi Prakash', cursive;

}
/*_____________________________Text_______________________________________*/
body{
	text-align: center;
	margin: 0 auto;
}
h1{
font-size:68px;
color: #e3392b;
letter-spacing: .5em;
text-shadow: 2px 2px #004484; 
margin:5% auto 0;
}
h2{
	font-size: 47px;
color: #0bc3f2;
text-shadow: 1px 1px #e3392b;
}
h4{

}
p{
padding: 3% 0 0 0;
color:#0bc3f2;
font-size: 25px;
width: 90%;
margin:0 auto;
}

/*_____________________________GameBoard_______________________________________*/
.gameHeader{
display: block;
position: relative;
height: 50px;
width: 900px;
margin:10px auto;
opacity: .9;
}
.name{
display: inline;
color: white;
float: left;
font-size: 30px;
padding: .5% 0 0 10%;

}
.scoreB{
position: absolute;
display: inline;
background: #fcff60;
opacity: .8;
font-size: 35px;
border-radius: 16px;
}
#timer{
margin: 0 auto;
height: 25px;
position: relative;
top:-10px;
color: white;
font-size: 55px;
}
.htmlBoard{
display: block;
position: relative;
height:600px;
width: 900px;
border: 3px solid gray;
margin:0 auto;
}
/*_____________object images________*/
.floor{
float: left;
position: absolute;
display: inline;
background-image: url('images/ground.png');
}
.platform{
float:left;
position: absolute;
display: inline;
background-image: url('images/beam.png');
background-repeat: no-repeat;
}

/*______________instructs JS how to change images with point interactions_____*/
.point{
float:left;
position: absolute;
display: inline;

}
.waterPoint{
	background-image: url('images/water-point.png');
	background-repeat: no-repeat;
}
.waterAfter{
background-image: url('images/water-anim.png');
	background-repeat: no-repeat;
}
.firePoint{
	background-image: url('images/fire-point.png');
	background-repeat: no-repeat;
}
.fireAfter{
	background-image: url('images/fire-anim.png');
	background-repeat: no-repeat;
}



/*_____________________________Player_________________________________*/
#p1{
float:left;
width: 73.5px;
height: 100px;
position: relative;
display: inline;
background-image: url('images/fire.png')

}
#p2{
float:left;
width: 72px;
height: 100px;
position: relative;
display: inline-block;
background-image: url('images/water.png')

}
/*_____________________________animation_________________________________*/
@keyframes playerAnimate{
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
.playerAnimate{
animation-name: playerAnimate;
}
@keyframes pointAnimate{
	
}
.pointAnimate{

}
@keyframes hazardAnimate{
	
}
.hazardAnimate{

}

/*_____________________________title/make char screens__________________________________*/
.inst{
	border: 3px solid #f2291c;
	margin:0 auto;
	width:75%;
}
#left{
float: left;
width:50%;
max-height: screen; 
height: 20%;
border-right: 2px solid #62d9f4;
padding: 12% 0 8%;
}

#right{
float:right;
max-height: screen;
height: 20%;
width:49%;
padding: 12% 0 8%;
}
#left h2{
	color:#e3392b; 
text-shadow: 1px 1px #0bc3f2;
}
.mkChar img{
	display: block;
margin: 10px auto;
}
/*______________________________Form______________________________________*/
.in{
	border: 1.5px solid #e3392b;
}

/*______________________________Buttons______________________________________*/
.btn{
width: 110px;
height: 30px;
border-radius: 5px;
background:#f2291c;
color: #0bc3f2;
font-weight: 900;
margin: 1%;
}
/*colors: 62d9f4(light blue),0bc3f2(med blue),004484(dark blue)*/
/*colors: e3392b(light red),f2291c(med red),e30203(dark red)*/
/*fcff60 yellow*/


