@media (max-width: 400){
#left{
	float: none;
	display: block;
}
#right{
	float: none;
	display: block;
}
}

/*_____________________________Text_______________________________________*/
body{
	text-align: center;
	margin: 0 auto;
}
h1{
color: rgba(220,40,40,.9);
letter-spacing: .4em;
}
h2{

}
h4{

}
p{

}

/*_____________________________GameBoard_______________________________________*/
.gameHeader{
display: block;
position: relative;
height: 50px;
width: 900px;
margin:10px auto;
background: rgba(0,90,255,.2);
}
.htmlBoard{
display: block;
position: relative;
height:600px;
width: 900px;
border: 1px black solid;
background: black;
margin:0 auto;
}
.floor{
float: left;
position: absolute;
display: inline;
background: gray;
}
.platform{
float:left;
position: absolute;
display: inline;
background: tan;
}
.point{
float:left;
position: absolute;
display: inline;
background: blue;
}
.scoreB{
	position: absolute;
	display: inline;
	background: pink;
	font-size: 40px;
}

/*_____________________________Player_________________________________*/
#p1{
	float:left;
width: 72px;
height: 100px;
position: relative;
display: inline;
background-image: url('images/fire.png')

}
#p2{
	float:left;
width: 72px;
height: 100px;
position: relative;
display: inline-block;
background-image: url('images/water.png')

}
/*_____________________________animation_________________________________*/
@keyframes playerAnimate{
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
.playerAnimate{
animation-name: playerAnimate;
}
@keyframes pointAnimate{
	
}
.pointAnimate{

}
@keyframes hazardAnimate{
	
}
.hazardAnimate{

}

/*_____________________________Sections / divs__________________________________*/
#left{
float: left;
width:50%;
max-height: screen; 
height: 550px;
border-right: 2px solid black;
}
#right{
float:right;
max-height: screen;
height: 550px;
width:49%;
}

/*______________________________Form______________________________________*/


/*______________________________Buttons______________________________________*/
.btn{
width: 110px;
height: 30px;
border-radius: 5px;
background:#0bc3f2;
color: rgba(220,40,40,1);
font-weight: 700;
}
/*colors: 62d9f4(light blue),0bc3f2(med blue),004484(dark blue)*/
/*colors: e3392b(light red),f2291c(med red),e30203(dark red)*/
/*fcff60 yellow*/

/*______________________________Mobile Friendly__________________________________*/

