@media (max-width: 400){
#left{
	float: none;
	display: block;
}
#right{
	float: none;
	display: block;
}
}

/*_____________________________Text_______________________________________*/
body{
	text-align: center;
}
h1{

}
h2{

}
h4{

}
p{

}

/*_____________________________GameBoard_______________________________________*/


/*_____________________________Player_________________________________*/


/*_____________________________Sections / divs__________________________________*/
#left{
float: left;
width:50%;
max-height: screen; 
height: 550px;
border-right: 2px solid black;
}
#right{
float:right;
max-height: screen;
height: 550px;
width:49%;
}

/*______________________________Form______________________________________*/


/*______________________________Buttons______________________________________*/
.btn{

}

/*______________________________Mobile Friendly__________________________________*/

