@media (max-width: 400){
#left{
	float: none;
	display: block;
}
#right{
	float: none;
	display: block;
}
}

/*_____________________________Text_______________________________________*/
body{
	text-align: center;
}
h1{

}
h2{

}
h4{

}
p{

}

/*_____________________________GameBoard_______________________________________*/
.gameHeader{
display: block;
position: relative;
height: 50px;
width: 900px;
margin:10px auto;
background: blue;
}
.htmlBoard{
display: block;
position: relative;
height:600px;
width: 900px;
border: 1px black solid;
background: black;
margin:0 auto;
}
.floor{
float: left;
position: absolute;
display: inline;
background: gray;
}
.platform{
float:left;
position: absolute;
display: inline;
background: tan;
}
.point{
float:left;
position: absolute;
display: inline;
background: blue;
}
.scoreB{
	position: absolute;
	display: inline;
	background: pink;
}

/*_____________________________Player_________________________________*/
#p1{
	float:left;
width: 100px;
height: 100px;
background: red;
position: relative;
display: inline;
}
#p2{
width: 100px;
height: 100px;
background: blue;
position: relative;
display: inline-block;
}

/*_____________________________Sections / divs__________________________________*/
#left{
float: left;
width:50%;
max-height: screen; 
height: 550px;
border-right: 2px solid black;
}
#right{
float:right;
max-height: screen;
height: 550px;
width:49%;
}

/*______________________________Form______________________________________*/


/*______________________________Buttons______________________________________*/
.btn{

}

/*______________________________Mobile Friendly__________________________________*/

